
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="box">
    <h1>About Me</h1>

    <div class="container ">
    <p id="para">
        <span id="person">Personal Details:</span><br> <br>
        <span id="details">
        <strong><u>Name:</u></strong> Partiksha Jaybhaye <br><br>
        <strong><u>Contact Number :</u></strong> 1234567890 <br><br>
        <strong><u>Email:</u></strong> pratikshajaybhaye1210@gmail.com <br> <br>
        <a href="https://www.linkedin.com/login" target="_blank" class="logo"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> 
        <a href="https://github.com/pratikshajaybhaye/profile-pratiksha" target="_blank" class="logo"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        <a href="https://www.naukri.com/ " target="_blank" class="logo"><i class="fa fa-industry" aria-hidden="true"></i></a>
        </span>
    </p>
    
<img src="{{imageUrl}}" height="200" width="200">
    </div>
<h2 id="Intro">Self Introduction :</h2>
<p id="content">
    Hello! I'm Pratiksha Jaybhaye. <br> <br>
    I have Completed my Master's Degree from University of Mumbai with an 9.05 CGPA. <br><br>
    Currently I am Working. My Job Role is "Technical Support Engineer" which is work on Relinace Partner-IT Project &  side by side Pursing the UI developer Course.
    I Know little bit about the HTML, CSS & JavaScript language. <br> <br>
    I am an organised, efficient and hard working person, and am willing to discover and accept new ideas which can be put into practice effectively. I am a good listener and learner, able to communicate well with a group and on an individual level.
     I am able to motivate and direct my talents and skills to meet objectives.
    My Strength is I am Hardworking & Self-Motivated. My long term goal is achieve a Good Position like where I can gain Knowledge & Expereince in this Field. <br><br>
    As an artist, my first love will always be crafting the visual. 
</p>
<h3>Thanking You !!!!</h3>
</div>
